.page3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;

  .component {
    width: 100%;
    display: flex;
    margin: auto 0;
    padding: 20px;

    .left {
      width: 30%;
      z-index: 5;
    }

    .right {
      width: 70%;
      height: 400px;
      padding: 10px;
      position: relative;
    }
  }
}
