.caption {
  text-align: center;
  color: white;
}
table {
  padding: 20px;
  width: 90%;
  margin: auto;
  tr {
    // border: 1px solid blue;
    transition: all 0.3s ease-in-out;
    &:hover:nth-child(1) {
      scale: 1;
      box-shadow: none;
    }
    &:hover {
      scale: 1.05;
      z-index: 5;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.566);
    }
    &:nth-child(odd) {
      // background-color: azure;
      background-color: #ffca3a;
    }
    &:nth-child(even) {
      // background-color: gray;
      background-color: rgb(53, 107, 255);
      color: white;
    }
    th {
      background-color: black;
      color: white;
      height: 40px;
      padding: 0 20px;
    }
    td {
      height: 60px;
      padding: 10px 20px;
    }
  }
}
