$main-color: #ffca3a;

.page2 {
  // background-color: rebeccapurple;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .parent-page2 {
    // background-color: blanchedalmond;
    // width: 90%;
    .cards-page2 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      // width: 90%;
      margin-top: 2rem;
      .card-pg2 {
        .card-present {
          background-color: white;
          width: 15rem;
          height: 22rem;
          margin: 1.5rem;
          border-radius: 10px;
          img {
            width: 100%;
            height: 90%;
            border-radius: 5px 5px 0px 0px;
          }
          .cards-name {
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
            color: #444;
          }
        }
        // ng-template{

          .spinner-page2 {
            width: 15rem;
            height: 22rem;
            margin: 1.5rem;
            background-color: rgb(213, 215, 248);
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 80%;
            // mat-spinner{
              
              // }
            // }
        }
      }
    }

    .btn-page2 {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-start {
        width: 20%;
        margin: auto;
        outline: none;
        border: none;
        padding: 0.2rem 1rem;
        position: relative;
        display: inline-block;
        overflow: hidden;
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
        &:hover {
          background: $main-color;
          color: #fff;
          box-shadow: 0 0 5px $main-color, 0 0 25px $main-color,
            0 0 50px $main-color, 0 0 100px $main-color;
        }
      }
    }
  }
}


.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  color: black;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

