<p>right works!</p>

<h3>{{userDataFromPage3ForRight[0].userName}} : Raja</h3>
<h3>{{userDataFromPage3ForRight[1].userName}} : Mantri</h3>
<h3 (click)="checkAns()">{{userDataFromPage3ForRight[2].userName}} : {{valArray[0]}}</h3>
<h3 (click)="checkAns()">{{userDataFromPage3ForRight[3].userName}} : {{valArray[1]}}</h3>
<!-- <h3>{{userDataFromPage3ForRight[2].userName}} : Chor</h3>
<h3>{{userDataFromPage3ForRight[3].userName}} : Sipahi</h3> -->

<!-- <a (click)="checkAns()">{{userDataFromPage3ForRight[2].userName}} </a>
<br>
<a (click)="checkAns()">{{userDataFromPage3ForRight[3].userName}} </a> -->
<br>
<br>
<button (click)="shuflleNumber()">Start</button>
