<div class="rightbox">
    <p>right works!</p>

    <h3>{{userDataFromPage3ForRight[0].userName}} : Raja</h3>
    <h3>{{userDataFromPage3ForRight[1].userName}} : Mantri</h3>
    <h3 (click)="checkAns()">{{userDataFromPage3ForRight[2].userName}} : {{valArray[0]}}</h3>
    <h3 (click)="checkAns()">{{userDataFromPage3ForRight[3].userName}} : {{valArray[1]}}</h3> 
    <!-- <h3>{{userDataFromPage3ForRight[2].userName}} : Chor</h3>
<h3>{{userDataFromPage3ForRight[3].userName}} : Sipahi</h3> -->

    <!-- <a (click)="checkAns()">{{userDataFromPage3ForRight[2].userName}} </a>
<br>
<a (click)="checkAns()">{{userDataFromPage3ForRight[3].userName}} </a> -->
    <br>
    <br>
    <!-- <button (click)="shuflleNumber()" class="boxClass">Start</button> -->
    <button (click)="shuflleNumber()" [className]="cardsButtonClass">Start</button>
    <button (click)="resetCards()" [className]="cardsButtonClass">Cancel</button>
    <div class="box box1">box1</div>
    <div class="box box2">box2</div>
    <div class="box box3">box3</div>
    <div class="box box4">box4</div>
</div>